


<!--<section class="content-header">        
        <h5>{{PageTitle}}</h5>  
</section>-->

<section class="content">
    <!-- /.row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box-header">
                <div class="pull-left">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#authorModal"><span class="glyphicon glyphicon-plus-sign"></span>Add New Author</button>
                </div>
                <div class="pull-right">
                    <div class="form-group">                           
                        <input type="text" class="form-control" ng-model="authorName" placeholder="Search">                           
                    </div>
                </div>
            </div><!-- /.box-header -->

                <div class="box-body table-responsive no-padding">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Initials</th>
                                <th>Address</th>
                                <th>Zip Code</th>
                                <th>Country</th>
                                <!--<th>Action</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="a in Authors | filter: authorName" ng-click="goToDetails(a.AuthorId)" style="cursor:pointer">
                                <td>{{a.FirstName}}</td>
                                <td>{{a.LastName}}</td>
                                <td>{{a.Initials}}</td>
                                <td>{{a.Address}}</td>
                                <td>{{a.ZipCode}}</td>
                                <td>{{a.Country}}</td>
                                <!--<td>
                                    <a href="#!/Details/{{a.AuthorId}}" class="btn btn-info btn-sm">Details</a>&#09;&#09;
                                </td>-->
                            </tr>
                            <tr ng-if="Authors.length==0">
                                <td colspan="4" class="text-center">There have no Author to display.</td>
                            </tr>
                        </tbody>
                    </table>
                    <pre>Showing Total: {{TotalData.length}}</pre>
                    <pagination ng-model="currentPage"
                                total-items="TotalData.length"
                                max-size="maxSize"
                                boundary-links="true">
                    </pagination>
                </div><!-- /.box-body -->
                
        </div>
    </div>
</section>

<div class="modal fade" id="authorModal" tabindex="-1" role="dialog" aria-labelledby="authorModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Author</h4>
            </div>
            <div class="modal-body">

                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label class="control-label">Initials</label>
                                    <input type="text" class="form-control" id="initials" ng-model="new.Author.Initials" ng-keyup="errorInitStateChange(new.Author.Initials)" aria-describedby=" addInitials" placeholder="Initials" required="required">
                                    <div class="text-danger" ng-if="states.errorInitials">Please field required.</div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input type="text" class="form-control" id="firstName" ng-model="new.Author.FirstName" ng-keyup="errorFNameStateChange(new.Author.FirstName)" aria-describedby=" addFirstName" placeholder="First Name" required="required">
                                    <div class="text-danger" ng-if="states.errorFirstName">Please field required.</div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" ng-model="new.Author.LastName" ng-keyup="errorLNameStateChange(new.Author.LastName)" aria-describedby=" addLastName" placeholder="Last Name" required="required">
                                    <div class="text-danger" ng-if="states.errorLastName">Please field required.</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label class="control-label">Address</label>
                                    <input type="text" class="form-control" id="address" ng-model="new.Author.Address" ng-keyup="errorAdrStateChange(new.Author.Address)" aria-describedby=" addAddress" placeholder="Please Set Address" required="required">
                                    <div class="text-danger" ng-if="states.errorAddress">Please field required.</div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label class="control-label">Zip Code</label>
                                    <input type="number" class="form-control" id="zidcode" ng-model="new.Author.ZipCode" min="1" maxlength="5" ng-keyup="errorZipStateChange(new.Author.ZipCode)" aria-describedby=" addZipCode" placeholder="Please Set Zip Code" required="required">
                                    <div class="text-danger" ng-if="states.errorZipCode">Please field required.</div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label class="control-label">Country:</label>
                                    <input type="text" class="form-control" id="country" ng-model="new.Author.Country" ng-keyup="errorCntryStateChange(new.Author.Country)" aria-describedby="addCountry" placeholder="Please Set Country Name" required="required">
                                    <div class="text-danger" ng-if="states.errorCountry">Please field required.</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <div id="msgView" class='alert alert-block alert-dismissable fade in' style="text-align:center;">{{Message}}</div>
                <button type="button" class="btn btn-primary" ng-click="saveAuthor()"> Save</button>
                <button type="button" class="btn btn-default" ng-click="clearAuthorForm(false)" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

